@model Data.Paste

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            <br />
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<form action="/Comments/Create" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.Id" name="PasteId" />
    <input type="text" name="Content" class="form-control" />
    <input type="submit" class="btn btn-success" value="Comment" id="comment" />
</form>
<div id="comments">
    @foreach (var comment in ViewBag.Comments)
    {
        <div class="form-group">
            <label>@((comment.Author == "") ? "Anonymous" : comment.Author)</label>
            <div class="form-control">@comment.Content</div>
            <hr />
        </div>
    }
</div>
